@import url('https://fonts.cdnfonts.com/css/mena-grotesk');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


@font-face {
    font-family: 'Acorn';
    src: url('/font/Acorn-Light.eot');
    src: url('/font/Acorn-Light.eot?#iefix') format('embedded-opentype'),
         url('/font/Acorn-Light.woff2') format('woff2'),
         url('/font/Acorn-Light.woff') format('woff'),
         url('/font/Acorn-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acorn';
    src: url('/font/Acorn-ExtraLight.eot');
    src: url('/font/Acorn-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('/font/Acorn-ExtraLight.woff2') format('woff2'),
         url('/font/Acorn-ExtraLight.woff') format('woff'),
         url('/font/Acorn-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acorn';
    src: url('/font/Acorn-Bold.eot');
    src: url('/font/Acorn-Bold.eot?#iefix') format('embedded-opentype'),
         url('/font/Acorn-Bold.woff2') format('woff2'),
         url('/font/Acorn-Bold.woff') format('woff'),
         url('/font/Acorn-Bold.ttf') format('truetype');
    font-weight: 700; /* 'bold' is typically 700, not a keyword */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acorn';
    src: url('/font/Acorn-Medium.eot');
    src: url('/font/Acorn-Medium.eot?#iefix') format('embedded-opentype'),
         url('/font/Acorn-Medium.woff2') format('woff2'),
         url('/font/Acorn-Medium.woff') format('woff'),
         url('/font/Acorn-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acorn';
    src: url('/font/Acorn-Thin.eot');
    src: url('/font/Acorn-Thin.eot?#iefix') format('embedded-opentype'),
         url('/font/Acorn-Thin.woff2') format('woff2'),
         url('/font/Acorn-Thin.woff') format('woff'),
         url('/font/Acorn-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acorn';
    src: url('/font/Acorn-Regular.eot');
    src: url('/font/Acorn-Regular.eot?#iefix') format('embedded-opentype'),
         url('/font/Acorn-Regular.woff2') format('woff2'),
         url('/font/Acorn-Regular.woff') format('woff'),
         url('/font/Acorn-Regular.ttf') format('truetype');
    font-weight: 400; /* 'normal' is typically 400 */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acorn';
    src: url('/font/Acorn-SemiBold.eot');
    src: url('/font/Acorn-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('/font/Acorn-SemiBold.woff2') format('woff2'),
         url('/font/Acorn-SemiBold.woff') format('woff'),
         url('/font/Acorn-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



:root{
    --primary-color:#9381FF;
    --txt-color: rgb(240, 240, 240);
    --txt-color-dark: #000501;
    --bd-color: #000501;
    --blur-txt-color: #909090;
    --light-cont-color: #111;
    --lighter-cont-color: #252525;
    --nav-br-color: rgb(25, 25, 25, 0.8);
    

     --str-color: rgb(51, 51, 51, 0.5);
    --gr-1-color-op-02: rgb(41, 41, 41, 0.2);
    --gr-1-color-op-04: rgb(41, 41, 41, 0.4);
    --gr-1-color-op-06: rgb(41, 41, 41, 0.6);
    --gr-1-color-op-08: rgb(41, 41, 41, 0.8);
    --grid-bg-color: rgba(255, 255, 255, 0.04);

   

    --transition-1: 0.2s;
    --transition-2: 0.4s;
    --transition-3: 0.6s;
    --transition-4: 0.8s;
    --transition-5: 0.9s;

    --heading-1-48: 2.66rem;
    --heading-2-32: 2rem;
    --heading-3-24: 1.5rem;
    --heading-4-20: 1.25rem;
    --heading-5-18: 1.13rem;

    --paragraph-1-16: 1rem;
    --paragraph-2-14: 0.87rem;
    --paragraph-3-12: 0.75rem;
    --paragraph-4-10: 0.63rem;

    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;

    --max-width: 1280px;
    --width-100: 100%;
    --padding-width: 1040px;
    --margin-top: 5rem;
    --margin-bottom: 5rem;
    --padding: 0 7.5rem;  

    --border-radius-5: 0.31rem;
    --border-radius-8: 0.5rem;
    --border-radius-10: 0.63rem;
    --border-radius-20: 1.25rem;
    --border-radius-25: 1.56rem;

    --px-1: 0.0625rem;
    --px-2: 0.125rem;
    --px-3: 0.1875rem;
    --px-4: 0.25rem;
    --px-5: 0.3125rem;
    --px-6: 0.375rem;
    --px-7: 0.4375rem;
    --px-8: 0.5rem;
    --px-9: 0.5625rem;
    --px-10: 0.625rem;
    --px-11: 0.6875rem;
    --px-12: 0.75rem;
    --px-13: 0.8125rem;
    --px-14: 0.875rem;
    --px-15: 0.9375rem;
    --px-16: 1rem;
    --px-17: 1.0625rem;
    --px-18: 1.125rem;
    --px-19: 1.1875rem;
    --px-20: 1.25rem;
    --px-21: 1.3125rem;
    --px-22: 1.375rem;
    --px-23: 1.4375rem;
    --px-24: 1.5rem;
    --px-25: 1.5625rem;
    --px-26: 1.625rem;
    --px-27: 1.6875rem;
    --px-28: 1.75rem;
    --px-29: 1.8125rem;
    --px-30: 1.875rem;
    --px-31: 1.9375rem;
    --px-32: 2rem;
    --px-33: 2.0625rem;
    --px-34: 2.125rem;
    --px-35: 2.1875rem;
    --px-36: 2.25rem;
    --px-37: 2.3125rem;
    --px-38: 2.375rem;
    --px-39: 2.4375rem;
    --px-40: 2.5rem;
    --px-41: 2.5625rem;
    --px-42: 2.625rem;
    --px-43: 2.6875rem;
    --px-44: 2.75rem;
    --px-45: 2.8125rem;
    --px-46: 2.875rem;
    --px-47: 2.9375rem;
    --px-48: 3rem;
    --px-49: 3.0625rem;
    --px-50: 3.125rem;
    --px-51: 3.1875rem;
    --px-52: 3.25rem;
    --px-53: 3.3125rem;
    --px-54: 3.375rem;
    --px-55: 3.4375rem;
    --px-56: 3.5rem;
    --px-57: 3.5625rem;
    --px-58: 3.625rem;
    --px-59: 3.6875rem;
    --px-60: 3.75rem;
    --px-61: 3.8125rem;
    --px-62: 3.875rem;
    --px-63: 3.9375rem;
    --px-64: 4rem;
    --px-65: 4.0625rem;
    --px-66: 4.125rem;
    --px-67: 4.1875rem;
    --px-68: 4.25rem;
    --px-69: 4.3125rem;
    --px-70: 4.375rem;
    --px-71: 4.4375rem;
    --px-72: 4.5rem;
    --px-73: 4.5625rem;
    --px-74: 4.625rem;
    --px-75: 4.6875rem;
    --px-76: 4.75rem;
    --px-77: 4.8125rem;
    --px-78: 4.875rem;
    --px-79: 4.9375rem;
    --px-80: 5rem;
    --px-81: 5.0625rem;
    --px-82: 5.125rem;
    --px-83: 5.1875rem;
    --px-84: 5.25rem;
    --px-85: 5.3125rem;
    --px-86: 5.375rem;
    --px-87: 5.4375rem;
    --px-88: 5.5rem;
    --px-89: 5.5625rem;
    --px-90: 5.625rem;
    --px-91: 5.6875rem;
    --px-92: 5.75rem;
    --px-93: 5.8125rem;
    --px-94: 5.875rem;
    --px-95: 5.9375rem;
    --px-96: 6rem;
    --px-97: 6.0625rem;
    --px-98: 6.125rem;
    --px-99: 6.1875rem;
    --px-100: 6.25rem;
    --px-101: 6.3125rem;
    --px-102: 6.375rem;
    --px-103: 6.4375rem;
    --px-104: 6.5rem;
    --px-105: 6.5625rem;
    --px-106: 6.625rem;
    --px-107: 6.6875rem;
    --px-108: 6.75rem;
    --px-109: 6.8125rem;
    --px-110: 6.875rem;
    --px-111: 6.9375rem;
    --px-112: 7rem;
    --px-113: 7.0625rem;
    --px-114: 7.125rem;
    --px-115: 7.1875rem;
    --px-116: 7.25rem;
    --px-117: 7.3125rem;
    --px-118: 7.375rem;
    --px-119: 7.4375rem;
    --px-120: 7.5rem;
    --px-121: 7.5625rem;
    --px-122: 7.625rem;
    --px-123: 7.6875rem;
    --px-124: 7.75rem;
    --px-125: 7.8125rem;
    --px-126: 7.875rem;
    --px-127: 7.9375rem;
    --px-128: 8rem;
    --px-129: 8.0625rem;
    --px-130: 8.125rem;
    --px-131: 8.1875rem;
    --px-132: 8.25rem;
    --px-133: 8.3125rem;
    --px-134: 8.375rem;
    --px-135: 8.4375rem;
    --px-136: 8.5rem;
    --px-137: 8.5625rem;
    --px-138: 8.625rem;
    --px-139: 8.6875rem;
    --px-140: 8.75rem;
    --px-141: 8.8125rem;
    --px-142: 8.875rem;
    --px-143: 8.9375rem;
    --px-144: 9rem;
    --px-145: 9.0625rem;
    --px-146: 9.125rem;
    --px-147: 9.1875rem;
    --px-148: 9.25rem;
    --px-149: 9.3125rem;
    --px-150: 9.375rem;
    --px-151: 9.4375rem;
    --px-152: 9.5rem;
    --px-153: 9.5625rem;
    --px-154: 9.625rem;
    --px-155: 9.6875rem;
    --px-156: 9.75rem;
    --px-157: 9.8125rem;
    --px-158: 9.875rem;
    --px-159: 9.9375rem
}

.light-mode{
    --primary-color: #9381FF;
    --txt-color: #000501;
    --txt-color-dark: hsl(0, 0%, 100%);
    --bd-color: rgb(242, 242, 242);
    --blur-txt-color: hsl(0, 0%, 60%);
    --light-cont-color: hsl(0, 0%, 100%);
    --lighter-cont-color: hsl(0, 0%, 96%);
    --nav-br-color: hsla(0, 0%, 100%, 0.5);

    --str-color: rgb(217, 217, 217, 0.8);
    --grid-bg-color: rgb(10, 10, 10, 0.04);
    --transition-1: 0.2s;
    --transition-2: 0.4s;
    --transition-3: 0.6s;
    --transition-4: 0.8s;
    --transition-5: 0.9s;

    --heading-1-48: 2.66rem;
    --heading-2-32: 2rem;
    --heading-3-24: 1.5rem;
    --heading-4-20: 1.25rem;
    --heading-5-18: 1.13rem;

    --paragraph-1-16: 1rem;
    --paragraph-2-14: 0.87rem;
    --paragraph-3-12: 0.75rem;
    --paragraph-4-10: 0.63rem;

    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;

    --max-width: 1280px;
    --width-100: 100%;
    --padding-width: 1040px;
    --margin-top: 5rem;
    --margin-bottom: 5rem;
    --padding: 0 7.5rem;  

    --border-radius-5: 0.31rem;
    --border-radius-8: 0.5rem;
    --border-radius-10: 0.63rem;
    --border-radius-20: 1.25rem;
    --border-radius-25: 1.56rem;

    --px-1: 0.0625rem;
    --px-2: 0.125rem;
    --px-3: 0.1875rem;
    --px-4: 0.25rem;
    --px-5: 0.3125rem;
    --px-6: 0.375rem;
    --px-7: 0.4375rem;
    --px-8: 0.5rem;
    --px-9: 0.5625rem;
    --px-10: 0.625rem;
    --px-11: 0.6875rem;
    --px-12: 0.75rem;
    --px-13: 0.8125rem;
    --px-14: 0.875rem;
    --px-15: 0.9375rem;
    --px-16: 1rem;
    --px-17: 1.0625rem;
    --px-18: 1.125rem;
    --px-19: 1.1875rem;
    --px-20: 1.25rem;
    --px-21: 1.3125rem;
    --px-22: 1.375rem;
    --px-23: 1.4375rem;
    --px-24: 1.5rem;
    --px-25: 1.5625rem;
    --px-26: 1.625rem;
    --px-27: 1.6875rem;
    --px-28: 1.75rem;
    --px-29: 1.8125rem;
    --px-30: 1.875rem;
    --px-31: 1.9375rem;
    --px-32: 2rem;
    --px-33: 2.0625rem;
    --px-34: 2.125rem;
    --px-35: 2.1875rem;
    --px-36: 2.25rem;
    --px-37: 2.3125rem;
    --px-38: 2.375rem;
    --px-39: 2.4375rem;
    --px-40: 2.5rem;
    --px-41: 2.5625rem;
    --px-42: 2.625rem;
    --px-43: 2.6875rem;
    --px-44: 2.75rem;
    --px-45: 2.8125rem;
    --px-46: 2.875rem;
    --px-47: 2.9375rem;
    --px-48: 3rem;
    --px-49: 3.0625rem;
    --px-50: 3.125rem;
    --px-51: 3.1875rem;
    --px-52: 3.25rem;
    --px-53: 3.3125rem;
    --px-54: 3.375rem;
    --px-55: 3.4375rem;
    --px-56: 3.5rem;
    --px-57: 3.5625rem;
    --px-58: 3.625rem;
    --px-59: 3.6875rem;
    --px-60: 3.75rem;
    --px-61: 3.8125rem;
    --px-62: 3.875rem;
    --px-63: 3.9375rem;
    --px-64: 4rem;
    --px-65: 4.0625rem;
    --px-66: 4.125rem;
    --px-67: 4.1875rem;
    --px-68: 4.25rem;
    --px-69: 4.3125rem;
    --px-70: 4.375rem;
    --px-71: 4.4375rem;
    --px-72: 4.5rem;
    --px-73: 4.5625rem;
    --px-74: 4.625rem;
    --px-75: 4.6875rem;
    --px-76: 4.75rem;
    --px-77: 4.8125rem;
    --px-78: 4.875rem;
    --px-79: 4.9375rem;
    --px-80: 5rem;
    --px-81: 5.0625rem;
    --px-82: 5.125rem;
    --px-83: 5.1875rem;
    --px-84: 5.25rem;
    --px-85: 5.3125rem;
    --px-86: 5.375rem;
    --px-87: 5.4375rem;
    --px-88: 5.5rem;
    --px-89: 5.5625rem;
    --px-90: 5.625rem;
    --px-91: 5.6875rem;
    --px-92: 5.75rem;
    --px-93: 5.8125rem;
    --px-94: 5.875rem;
    --px-95: 5.9375rem;
    --px-96: 6rem;
    --px-97: 6.0625rem;
    --px-98: 6.125rem;
    --px-99: 6.1875rem;
    --px-100: 6.25rem;
    --px-101: 6.3125rem;
    --px-102: 6.375rem;
    --px-103: 6.4375rem;
    --px-104: 6.5rem;
    --px-105: 6.5625rem;
    --px-106: 6.625rem;
    --px-107: 6.6875rem;
    --px-108: 6.75rem;
    --px-109: 6.8125rem;
    --px-110: 6.875rem;
    --px-111: 6.9375rem;
    --px-112: 7rem;
    --px-113: 7.0625rem;
    --px-114: 7.125rem;
    --px-115: 7.1875rem;
    --px-116: 7.25rem;
    --px-117: 7.3125rem;
    --px-118: 7.375rem;
    --px-119: 7.4375rem;
    --px-120: 7.5rem;
    --px-121: 7.5625rem;
    --px-122: 7.625rem;
    --px-123: 7.6875rem;
    --px-124: 7.75rem;
    --px-125: 7.8125rem;
    --px-126: 7.875rem;
    --px-127: 7.9375rem;
    --px-128: 8rem;
    --px-129: 8.0625rem;
    --px-130: 8.125rem;
    --px-131: 8.1875rem;
    --px-132: 8.25rem;
    --px-133: 8.3125rem;
    --px-134: 8.375rem;
    --px-135: 8.4375rem;
    --px-136: 8.5rem;
    --px-137: 8.5625rem;
    --px-138: 8.625rem;
    --px-139: 8.6875rem;
    --px-140: 8.75rem;
    --px-141: 8.8125rem;
    --px-142: 8.875rem;
    --px-143: 8.9375rem;
    --px-144: 9rem;
    --px-145: 9.0625rem;
    --px-146: 9.125rem;
    --px-147: 9.1875rem;
    --px-148: 9.25rem;
    --px-149: 9.3125rem;
    --px-150: 9.375rem;
    --px-151: 9.4375rem;
    --px-152: 9.5rem;
    --px-153: 9.5625rem;
    --px-154: 9.625rem;
    --px-155: 9.6875rem;
    --px-156: 9.75rem;
    --px-157: 9.8125rem;
    --px-158: 9.875rem;
    --px-159: 9.9375rem

}
 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Bricolage Grotesque, 'Acorn';
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--bd-color);
    overflow-x: hidden;
    overflow-x: hidden;
    cursor: none;
    font-family: Bricolage Grotesque, 'Acorn';
}


.custom-cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--primary-color);
    mix-blend-mode: difference; 
    pointer-events: none;  
    transition: transform 0.2s ease-out,background-color 0.2s ease-out; 
    z-index: 9999;
}

.cursor-hover {
  transform: scale(1.2);
}

.cursor-click {
  transform: scale(0.8);
}

.cursor-text {
  font-size: 24px;
  font-family: 'acorn';
}


.nav-header{
    padding: var(--padding);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 28px;
    z-index: 1000;
    position: fixed;
    width: var(--width-100);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--padding-width);
    padding: 0.58rem 0.49rem;
    border: 1px solid var(--str-color); 
    border-radius: var(--border-radius-5);
    background-color: var(--nav-br-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: var(--width-100);
}

.icons {
    color: var(--txt-color);
    transition: all .55s ease;
    font-size: var(--paragraph-2);
    font-weight: 400;
    padding: 0.88rem;
    height: 2.2rem;
    width: 2.2rem;
    margin-left: 0.5rem;
    display: none;
    justify-content: center;
    align-items: center;
}

.icons.active{
    background: var(--primary-color);
    border-radius: 0.13rem;
    color: #f0f0f0;
}

nav ul{
    display: flex;
    align-items: center;
    display: flex;  
    justify-content: center;
}


nav ul li a{
    color: var(--txt-color);
    transition: .70s;
    font-size: var(--paragraph-2-14);
    font-weight: 400;
    padding: 0.5rem 0.63rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.17rem;
    margin: 0 0.94rem;
    width: 5rem;
    vertical-align: middle;   
}

nav ul li a:hover{
    color: #f0f0f0;
    padding: 0.5rem;
    background-color: var(--primary-color);
}

.mode-change {
    border-radius: 0.17rem;
    padding: 0.64rem;
    background-color: var(--primary-color);
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0.94rem;
    cursor: pointer;
}

.mode-icon {
    font-size: 1.13rem;
    font-weight: 300;
    transition: transform 0.3s ease;
}

.mode-icon.animate {
    transform: rotate(180deg);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    width: 7.5rem;
}

.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img-mobile{
    width: 2.5rem;
    border-radius: 0.13rem;
    display: none;
}

/* Basic styling for the logo container */
.logo {
    position: relative;
    display: inline-block;
}

/* Hide the default tooltip */
.logo .logo-img, .logo .logo-img-mobile {
    position: relative;
}

/* Styling for the custom tooltip */
.custom-tooltip {
    visibility: hidden;
    width: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0.6rem;
    position: absolute;
    z-index: 1;
    top: 100%; /* Position the tooltip below the logo */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    margin-top: 10px; /* Space between logo and tooltip */
    font-family: 'mena grotesk';
    font-size: 0.75rem;
}

/* Arrow for the tooltip */
.custom-tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}

/* Show the custom tooltip on hover */
.logo:hover .custom-tooltip {
    visibility: visible;
    opacity: 1;
}

.heading-cont-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--width-100);
    padding: var(--padding);
    margin-top: 9.4rem;
}

.about-me-cont{
    width: var(--width-100);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.avalaible-greetings{
    display: flex;
    flex-direction: row;
    width: var(--width-100);
    justify-content: space-between;
}

.avalaible-btn{
    background-color: var(--light-cont-color);
    color: var(--blur-txt-color);
    border: 1px solid var(--str-color);
    padding: 0.63rem;
    border-radius: var(--border-radius-5);
    font-size: var(--paragraph-3-12);
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    font-family: 'Acorn';
}

.avalaible-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 0.5rem;
    position: relative;
}

.circle-1{
    width: 19px;
    height: 19px;
    background-color: rgb(77, 171, 86, .2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.circle-1-blink{
  animation: blink 3s steps(1, end) infinite;
  transition: all .99s ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.circle-2{
    width: 8px;
    height: 8px;
    background-color: #4DAA57;
    border-radius: 50%;
    z-index: 999;
}

.wave-btn{
    background-color: transparent;
    padding: 10px 8px 10px 4px;
    border-radius: var(--border-radius-5);
    border: 1px solid var(--str-color);
    font-size: var(--paragraph-3-12);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: var(--txt-color);
    font-family: 'Acorn';
}

.hand-wave{
    padding: 6px;
    border-radius: 2.5px;
    background-color: var(--light-cont-color);
    margin-right: 0.5rem;
    
}

.hero-text{
    font-style: bold;
    font-weight: 700;
    font-size: var(--px-58);
    line-height: 3.5rem;
    text-align: center;
    letter-spacing: 0.09rem;
    color: var(--txt-color);
    margin-bottom: 1.25rem;
    text-align: center;
    width: 84%;
    justify-content: center;
}

.hero-text span{
    color: var(--primary-color);
}

.sub-heading{
    font-size: var(--paragraph-1-16);
    line-height: 1.5rem;
    text-align: center;
    color: var(--blur-txt-color);
    width: 70%;
    font-weight: 400;
    letter-spacing: 0.04rem;
    margin-bottom: 1rem;
}

.my-quote{
    font-size: var(--paragraph-2-14);
    text-align: center;
    font-weight: 400;
    color: var(--blur-txt-color);
    margin-bottom: 2.5rem;

}



.resume-btn-contact-btn{
    display: flex;
    flex-direction: row;
}

.resume-btn{
    display: flex;
    padding: 0.81rem 2.5rem;
    background-color: var(--primary-color);
    color: #f0f0f0;
    margin-right: 2.5rem;
    font-size: var(--paragraph-2-14);
    border-radius: var(--border-radius-5);
    transition: all var(--transition-4) ease;
    line-height: 1.4;
    align-items: center;
    justify-content: center;
}

.contact-btn{
    display: flex;
    padding: 0.81rem 3.25rem;
    background-color: #fff;
    color: #000501;
    font-size: var(--paragraph-2-14);
    border-radius: var(--border-radius-5);
    transition: all 0.55s ease;
    line-height: 1.4;
}

.resume-btn:hover{
   transform: translateY(-10%);
}
.contact-btn:hover{
   transform: translateY(-10%);
}


.work-rate{
    display: flex;
    gap: 1.5rem;
    margin-top: 3.75rem;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    flex-wrap: wrap;
}

.completed-pro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 19.2%;
    padding: 1.5rem 0rem;
    background-color: var(--light-cont-color);
    border-radius: var(--border-radius-5);
    color: var(--txt-color);
    gap: 0.5rem;
    border: 1px solid var(--str-color);
}

.pro-number{
    font-size: var(--heading-3-24);
    font-weight: 700;
    color: var(--txt-color);  
}

.pro-plus{
    color: var(--primary-color);
}

.completed-pro-txt{
    font-size: var(--paragraph-2-14);
}

.projects{
    display: flex;
    flex-direction: column;
    width: var(--width-100);
    padding: var(--padding);
    margin-top: 6.25rem;
    color: var(--txt-color);
    justify-content: center;
    align-items: center;
}

.work-label-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-label-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}


.work-label{
    display: flex;
    justify-content: center;
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center; 
    font-size: var(--heading-2-32);
    font-weight: 500;
}

.work-label-fd{
 color: var(--blur-txt-color);
 cursor: pointer;
}


.work-label-br{
    color: var(--txt-color);
}

.work-label-fd:hover{
    color: var(--txt-color);
    transition: all 0.99s ease-in-out;
}

.work-cont{
    font-size: var(--heading-5-18);
    font-weight: 400;
    color: var(--blur-txt-color);
}


.project-filter-btns{
    display: flex;
    margin-bottom: 1.87rem;
}

.filter-btn.active{
    background-color: var(--primary-color);
    color: #f0f0f0;
}

.filter-btn{
    padding: 0.63rem 1.25rem;
    border: none;
    background-color: var(--light-cont-color);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    font-size: var(--paragraph-2-14);
    border-radius: var(--border-radius-5);
    color: var(--txt-color);
    cursor: pointer;
    font-family: 'acorn';
}
 
.all-project-container, .all-skills-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--px-20);
}

.projects-display{
    display: flex;
    gap: 1.25rem 1.25rem;
    flex-wrap: wrap;
}

.content {
    display: none;
  }
.content.active {
    display: flex;
  }

.project-container{
    display: flex;
    flex-direction: column;
    width: 49%;
    height: auto;
    padding: var(--px-10);
    background: var(--light-cont-color);
    justify-content: center;
    align-items: center;
    border-radius: var(--px-15);
    position: relative;
    transition: var(--transition-1);
    margin-bottom: var(--px-20);
    border: 1px solid var(--str-color);
}

.project-image{
    width: 100%;
    height: auto;
    border-radius: var(--px-8);
    overflow: hidden;
    position: relative;
    background-color: var(--lighter-cont-color);
}

.project-image img{
    width: 100%;
    height: 100%;
    position: relative;
}


.project-name-tag{
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    width: var(--width-100);
}

.project-sector, .project-category{
    background-color: var(--lighter-cont-color);
    font-size: var(--paragraph-2-14);
    padding: 0.5rem 0.75rem;
    border-radius: var(--border-radius-5);
    margin: 0rem 0.5rem;
}


.project-year{
    padding: 2rem 0.74rem;
    font-size: var(--paragraph-3-12);
    background-color: var(--primary-color);
    color: #f0f0f0;
    z-index: 1;
    width: 55px;
    right: 0;
    top: 0;
    position: absolute;
}

.project-name-tag{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
}

.project-name{
    font-size: var(--heading-3-24);
    color: var(--txt-color);
    font-weight: 600;
    font-style: normal; 
}

.project-hover{
  width: 3.13rem;
  height: 3.13rem;
  background-color: #f0f0f0;
  border-radius: var(--border-radius-5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-icons, .bxl-github{
  font-size: var(--heading-3-24);
  color: var(--primary-color);
}

.link-to {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-hover-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  column-gap: 1rem;
  padding: 1rem;
}

.project-container:hover .link-to {
  opacity: 1;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1111; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.3); 
  backdrop-filter: blur(10px);

}

.modal-content {
  border: 1px solid var(--str-color);
  border-radius: var(--border-radius-5);
  background-color: var(--nav-br-color);
  backdrop-filter: blur(5px);
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid var(--str-color);
  width: 35%; 
  text-align: center; 
  border-radius: var(--border-radius-10); 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.modal-content-txt h1{
    font-size: var(--heading-5-18);
    margin-bottom: var(--px-16);
    color: var(--txt-color);
    font-weight: 500;
}

.modal-content-txt p{
    font-size: var(--paragraph-2-14);
    line-height: 1.4rem;
    color: var(--txt-color);
}

.input-submit{
    display: flex;
    border: 1px solid var(--str-color);
    width: 100%;
    height: fit-content;
    margin-top: var(--px-32);
    border-radius: var(--border-radius-5);
    overflow: hidden;
}

.close {
  color: var(--txt-color);
  position: absolute;
  font-size: var(--heading-4-20);
  font-weight: bold;
  right: 20px;
  top: 10px;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  color: rgb(230, 53, 71);
}

#passwordInput {
  width: 90%;
  padding: 12px;
  box-sizing: border-box;
  border: none;
  background-color: var(--light-cont-color);
  color: var(--txt-color);
}

#passwordSubmit {
  background-color: var(--primary-color);
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#passwordSubmit i{
    font-size: var(--heading-5-18);
}

#passwordSubmit:hover {
  opacity: .8;
}

.password-feedback {
  color: rgb(230, 53, 71);
  margin-top: 10px;
  font-size: var(--paragraph-2-14);
}


.see-more-project{
    background-color: var(--primary-color);
    padding: 6px 6px 6px 16px;
    color: #f0f0f0;
    font-size: var(--paragraph-2-14);
    border-radius: var(--border-radius-25);
    margin-top: 2rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    
}

.see-more-project a{
    text-decoration: none;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--px-8);
}

.see-more-project i{
    font-size: var(--heading-5-18);
    padding: var(--px-6);
    border-radius: 50%;
    background-color: #f0f0f0;
    font-weight: 600;
    color: var(--primary-color);
}

.contact-form-btn:hover{
    background-color: #0056b3;
    color: rgb(255, 255, 255, 0.7);
}

.chevron-icon{
    font-size: var(--heading-3-24);
}

.all-tools-container{
    display: flex;
    align-items: start;
    width: var(--width-100);
    justify-content: space-between;
    flex-wrap: wrap;
}

.tool-container{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 32%;
    height: auto;
    padding: var(--px-8) var(--px-6);
    border-radius: var(--border-radius-5);
    background-color: var(--light-cont-color);
    margin-bottom: var(--px-20);
    border: 1px solid var(--str-color);
}


.tool-image{
    width: 50px;
    height: auto;
    background-color: var(--lighter-cont-color);
    padding: var(--px-6);
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: var(--px-3);
    margin-right: var(--px-20);
}

.tool-image img{
    width: var(--width-100);
    height: fit-content;
    border-radius: var(--border-radius-5);
}

.tool-description{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.tool-description h1{
    font-size: var(--px-17);
    font-weight: 500;
    margin-bottom: var(--px-4);
}

.tool-description p{
    font-size: var(--px-15);
    line-height: var(--px-18);
    font-weight: 500;
    color: var(--blur-txt-color);
    text-align: center;
}



.skill-container{
    display: flex;
    align-items: center;
    width: 23.5%;
    height: auto;
    padding: var(--px-7);
    border-radius: var(--px-16);
    background-color: var(--light-cont-color);
    margin-bottom: var(--px-20);
    position: relative;
    border: 1px solid var(--str-color);
}

.skill-cont{
    flex-direction: column;
}

.skill-image{
    width: var(--width-100);
    height: auto;
    display: flex;
    align-items: center;
    justify-items: center;
}

.skill-image img{
    width: var(--width-100);
    height: fit-content;
    border-radius: var(--border-radius-5);
}

.skill-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--px-24);
    width: 100%;
    margin-bottom: var(--px-6);
}

.skill-description h1{
    font-size: var(--heading-5-18);
    font-weight: 500;
}

.lets-work{
    display: flex;
    padding: var(--padding);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7.5rem 0rem 5rem 0rem;
    color: var(--txt-color);
}

.lets-work-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.lets-work-cont h1{
    font-size: var(--heading-2-32);
    font-weight: 500;
    font-style: normal;
    margin-bottom: 1.25rem;
    color: var(--txt-color);
}

.lets-work-cont p{
    font-size: var(--paragraph-1-16);
    font-weight: 400;
    font-style: normal;
    color: var(--blur-txt-color);
}

.social-platforms{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 250px;
    align-items: center;
    justify-content: center;
    gap: 0.93rem 0.93rem;
    margin-bottom: 5rem;
}


.preloader  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease; /* Add transition for smooth sliding */
    background-color: #fff;
    z-index: 9999; 
}

.load-content{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}   


.loading-img{
    width: var(--width-100);
}
        

.animate {
    animation: slideUp 2s ease forwards;
    opacity: 0;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.contact-add, .address-cont, .social-medias, .copyright{
    display: flex;
    flex-direction: column;
    font-size: var(--paragraph-2-14);
    align-items: start;
    justify-content: space-between;
    
}

.social-medias-links{
    display: flex;
    flex-direction: column;
}

.footer-headint-txt{
    font-size: var(--paragraph-1-16);
    font-weight: 500;
    margin-bottom: 0.93rem;
    color: var(--txt-color);
}

.email-cont{
    margin-bottom: 0.93rem;
}

.address-cont span{
    width: 180px;
    color: var(--blur-txt-color);
}

.footer-links{
    text-decoration: none;
    color: var(--blur-txt-color);
    margin-bottom: 0.93rem;
    font-size: var(--paragraph-2-14);
    font-weight: 500;
}

.footer-links:hover{
    color: var(--txt-color);
}

footer{
    padding: 1.25rem 7.5rem 5rem 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: var(--txt-color);
    
}

footer span{
    font-weight: 500;
    color: var(--blur-txt-color);
}

#scrollToTopBtn {
    display: none; 
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 20px; 
    right: 30px;
    z-index: 99; 
    cursor: pointer; 
    border-radius: 5px; 
    font-size: 18px; 
    font-weight: 600;
    width: 40px;
    height: 40px;
    background-color: var(--light-cont-color);
    text-align: center;
    color: var(--txt-color);
    border: none;
}

#scrollToTopBtn:hover {
    opacity: .8;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient( var(--grid-bg-color) 0.5px, transparent 0.5px), linear-gradient(90deg, 
  var(--grid-bg-color) 0.5px, transparent 0.5px);
  background-size: 40px 40px;
  z-index: -1;
  animation: animateGrid 5s linear infinite;
}

@keyframes animateGrid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

/* Example CSS for gnasp animations */
.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1120px){
    .custom-cursor{
        display: none;
    }

    .load-content{
        width: 45%;
    }   

    .nav-header{
        padding: 0rem var(--px-60);
        top: 92%;
        width: 100%;

    }
    nav{
        padding: 0.34rem 0.31rem;
        width: 100%;
    }

    nav{
        padding: 0.34rem 0.31rem;
        width: 100%;
    }

    .logo{
        display: flex;
        align-items: center;
        justify-items: center;
    width: 42px;
    }

    .logo-img{
        width: 42px;
    }


    .logo-img-mobile{
        width: 42px;
        border-radius: 0.13rem;
        display: none;
    }

    .logo-img{
        display: none;
    }

    .logo-img-mobile{
        display: block;
    }

    .icons{
        display: flex;
    }

    .nav-txt{
        display: none;
    }

    .heading-cont-img{
        padding: 0rem var(--px-60);
        margin-top: 1.88rem;
    }

    .avalaible-btn, .wave-btn{
        font-size: 0.63rem;
        height: 35px;
    }

    .about-me-cont{
        width: var(--width-100);
    }

    .hero-text{
        font-size: var(--heading-2-32);
        line-height: var(--px-40);
        margin-bottom: var(--px-10);
        width: 80%;
    }

    .sub-heading{
        width: 75%;
        font-size: var(--paragraph-2-14);
        font-weight: 400;
        line-height: var(--px-16);
        margin-bottom: var(--px-8);

    }
    .my-quote{
        font-size: var(--px-12);
    }
    
    .resume-btn{
        padding: 13px 27px;
    }

    .contact-btn{
        padding: 0.81rem 2.5rem;
    }


    .work-rate{
        gap: 10px;
        width: var(--width-100);
        padding: 0rem var(--px-60);
        margin-top: 1.88rem;
        display: flex;
        flex-wrap: wrap;
    }


    .completed-pro{
        width: 150px;
        height: 80px;
        gap: 8px;
    }

    .pro-number{
        font-size: var(--heading-4-20);
    }

    .completed-pro-txt{
        font-size: 0.81rem;
    }

    .projects{
        padding: 0rem var(--px-60);
        width: var(--width-100);
    }

    .project-container{
        width: 48%;
        height: auto;
        padding: 0.61rem;
    }

    .project-image{
        height: auto;
    }

    .project-image img{
        width: 100%;
        height: 100%;
    }

    .project-sector, .project-category{
        font-size: var(--paragraph-3-12);
        padding: var(--px-6) var(--px-10);
        margin: 0 var(--px-4);
    }

    .project-year{
        font-size: var(--paragraph-3-12);
        padding: 1.25rem 0;
        max-width: 45px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .project-name{
        font-size: var(--heading-4-20);
    }

    .project-name-tag{
        margin-top: 16px;
    }

    .project-hover{
        width: 40px;
        height: 40px;
        border-radius: 2px;
    }

    .link-to{
        opacity: 1;
    }

    .see-more-project{
        font-size: var(--paragraph-3-12);
        padding: var(--px-4) var(--px-4) var(--px-4) var(--px-12);
        margin-top: var(--px-40);
    }

    .see-more-project i{
        font-size: var(--heading-5-18);
    }

    .projects{
        padding: 0rem var(--px-60);
        margin-top: var(--px-60);
    }

    .work-label-cont{
        margin-bottom: 24px;
    }

    .work-label{
        font-size: var(--heading-3-24);
    }

    .work-cont{
        font-size: var(--paragraph-2-14);
        text-align: center;
    }

    .filter-btn{
        padding: 0.63rem 0.94rem;
        margin-left: var(--px-6);
        margin-right: var(--px-6);
        font-size: var(--paragraph-3-12);
    }

    .all-skills-container{
        flex-wrap: wrap;
    }

    .skill-container{
        width: 48%;
        padding: var(--px-10);
    }

    .skill-cont-mobile{
        height: 100px;
        width: var(--width-100);
        padding: var(--px-10);
    }

    .skill-description h1{
        font-size: var(--heading-5-18);
        font-weight: 500;
        margin-bottom: var(--px-4);
    }

    .skill-description p{
        font-size: 0.81rem;
        font-weight: 500;
        color: var(--blur-txt-color);
    }

    .all-tools-container{
        display: flex;
        align-items: start;
        width: var(--width-100);
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-top: var(--px-80);
    }

    .tool-container{
        width: 48%;
        padding: var(--px-6) var(--px-4);
        
    }

    .modal-content {
        margin: 35% auto; 
        padding: 20px;
        width: 50%; 
    }

    .lets-work{
        width: 100%;
        padding: 0rem var(--px-60);
        margin-top: 4rem;
        margin-bottom: 2.5rem;
    }

    .lets-work-cont{
        text-align: center;
    }

    .lets-work-cont h1{
        font-size: var(--heading-3-24);
    }

    .lets-work-cont span{
        font-size: var(--paragraph-1-16);
        line-height: 26px;
    }

    .js-all-socail-links{
        flex-wrap: wrap;
        width: var(--width-100);
        padding: 1.25rem var(--px-60) var(--px-98) var(--px-60);
        gap: 1.25rem;
    }

    .footer-headint-txt{
        font-size: var(--paragraph-2-14);
        margin-bottom: var(--px-8);
    }

    .email-cont{
        margin-bottom: 0;
    }

    .footer-links{
        margin-bottom: 0.94rem;
        font-size: var(--paragraph-3-12);

    }

    .address-cont span{
        width: 140px;
        color: var(--blur-txt-color);
        font-size: var(--paragraph-3-12);
    }

    .social-medias-links{
        width: 140px;
    }

    #scrollToTopBtn{
        width: 40px;
        height: 40px;
        right: 60px;
        bottom: 120px;
    }
}

@media screen and (max-width: 480px){
    .custom-cursor{
        display: none;
    }

    .load-content{
        width: 45%;
    } 

  .nav-header{
        padding: 0rem 1.25rem;
        top: 90%;
        width: 100%;

    }
    
    nav{
        /* height: 50px; */
        padding: 0.34rem 0.31rem;
        width: 100%;
    }

    .logo-img{
        display: none;
    }

    .logo-img-mobile{
        display: block;
    }

    .icons{
        display: flex;
    }

    .nav-txt{
        display: none;
    }

    .heading-cont-img{
        padding: 0rem 1.25rem;
        margin-top: 1.88rem;
    }

    .avalaible-btn, .wave-btn{
        font-size: 0.63rem;
        height: 35px;
    }

    .about-me-cont{
        width: var(--width-100);
    }

    .hero-text{
        font-size: var(--heading-2-32);
        line-height: 28px;
        margin-bottom: 10px;
        width: var(--width-100);
    }

    .sub-heading{
        width: var(--width-100);
        font-size: var(--paragraph-2-14);
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 8px;

    }
    .my-quote{
        font-size: var(--paragraph-3-12);
    }
    
    .resume-btn{
        padding: var(--px-13) var(--px-27);
    }

    .contact-btn{
        padding: 0.81rem 2.5rem;
    }


    .work-rate{
        gap: 10px;
        width: var(--width-100);
        padding: 0rem 1.25rem;
        margin-top: 1.88rem;
        display: flex;
        flex-wrap: wrap;
    }

    .completed-pro{
        width: 150px;
        height: 80px;
        gap: var(--px-8);
    }

    .pro-number{
        font-size: var(--heading-4-20);
    }

    .completed-pro-txt{
        font-size: 0.81rem;
    }

    .projects{
        padding: 0rem var(--px-60);
        width: var(--width-100);
    }

    .project-container{
        width: var(--width-100);
        height: auto;
        padding: 0.61rem;
    }

    .project-image{
        height: auto;
    }

    .project-image img{
        width: 100%;
        height: 100%;
    }

    .project-sector, .project-category{
        font-size: var(--paragraph-3-12);
        padding: var(--px-6) var(--px-10);
        margin: 0px 4px;
    }

    .project-year{
        font-size: var(--paragraph-3-12);
        padding: 1.25rem 0.5rem;
    }

    .project-name{
        font-size: var(--heading-4-20);
    }

    .project-name-tag{
        margin-top: 16px;
    }

    .project-hover{
        width: 40px;
        height: 40px;
        border-radius: 2px;
    }

    .link-to{
        opacity: 1;
    }

    .see-more-project{
        font-size: var(--paragraph-3-12);
        padding: var(--px-4) var(--px-4) var(--px-4) var(--px-10);
        margin-top: var(--px-30);
    }

    .see-more-project i{
        font-size: var(--heading-5-18);
    }

    .projects{
        padding: 0rem 1.25rem;
        margin-top: var(--px-50);
    }

    .work-label-cont{
        margin-bottom: var(--px-24);
    }

    .work-label{
        font-size: var(--heading-3-24);
    }

    .work-cont{
        font-size: var(--paragraph-2-14);
        text-align: center;
    }

    .filter-btn{
        padding: 0.63rem 0.94rem;
        margin-left: 6px;
        margin-right: 6px;
        font-size: var(--paragraph-3-12);
    }

    .skill-container{
        width: var(--width-100);
        padding: var(--px-10);
    }

    .skill-cont-mobile{
        height: 100px;
        width: var(--width-100);
        padding: var(--px-10);
    }

    .skill-description h1{
        font-size: var(--paragraph-1-16);
        font-weight: 500;
        margin-bottom: var(--px-4);
    }

    .skill-description p{
        font-size: 0.81rem;
        font-weight: 500;
        color: var(--blur-txt-color);
    }

    .tool-container{
        width: var(--width-100);
        padding: var(--px-6) var(--px-4);
        margin-bottom: var(--px-12);
    }

    .modal-content {
        margin: 50% auto; 
        padding: 20px;
        width: 80%; 
    }

    .modal-content-txt{
        width: 100%;
    }


    .lets-work{
        width: 100%;
        padding: 0rem 1.25rem;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .lets-work-cont{
        text-align: center;
    }

    .lets-work-cont h1{
        font-size: var(--heading-3-24);
    }

    .lets-work-cont span{
        font-size: var(--paragraph-1-16);
        line-height: var(--px-26);
    }

    .js-all-socail-links{
        flex-wrap: wrap;
        width: var(--width-100);
        padding: 1.25rem 1.25rem 6rem 1.25rem;
        gap: var(--px-20);

    }

    .footer-headint-txt{
        font-size: var(--paragraph-2-14);
        margin-bottom: var(--px-8);
    }

    .email-cont{
        margin-bottom: 0;
    }

    .footer-links{
        margin-bottom: 0.94rem;
        font-size: var(--paragraph-3-12);

    }

    .address-cont span{
        width: 140px;
        color: var(--blur-txt-color);
        font-size: var(--paragraph-3-12);
    }

    .social-medias-links{
        width: 140px;
    }

    #scrollToTopBtn{
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 110px;
    }
}
