@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-clr:#000000;
  --text-clr:#DFD9CD;
  --text-clr-2: rgb(223, 217, 205, 0.6);
  --blue-clr: #1F51FF;
  --stroke-line: 0.5px;
}

body {
  font-family: "Geist", sans-serif;
  background-color: var(--bg-clr);
  cursor: none;
}

.about-me{
  display: flex;
  align-items: start;
  width: 100%;
  height: auto;
  padding: 6.5rem 2.5rem 6.5rem 2.5rem;
}


.my-images {
  display: flex;
  width: 50%;
  height: auto; 
  flex-direction: column;
  /* background: var(--text-clr); */
}

.image-1 {
  width: 100%;
  height: 0;  
  padding-top: 90.25%;  
  background: url("/public/images/picture.png") no-repeat center center, var(--text-clr);  
  background-size: cover;  
  position: relative; 
}


.about-me-text{
  display: flex;
  display: flex;
  width: 50%;
  height: 30rem;
  padding: 0rem 2.8rem;
  align-items: start;
  gap: 0.625rem;
}

.about-me-text p{
  color: var(--text-clr);
  font-family: Geist;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

#about {
  display: flex;
  justify-content: center; 
  align-items: start;      
  /* height: 100vh;             */
  width: 100%;              
}

@media screen and (max-width: 1120px){
  .about-me{
    padding: 5.5rem 0rem 3.5rem 0rem;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .about-me-text{
    flex-direction: column;
    width: 95%;
    height: auto;
    padding: 0.625rem 0rem;
    align-items: start;
  }

   .my-images{
    width: 95%
  }

  .image-1{
    padding-top: 100%;
  }

}

@media screen and (max-width: 810px){
  .about-me{
    padding: 2.5rem 1rem 3.5rem 1rem;
  }

  .my-name{
    display: flex;
    padding: 1.25rem 1rem
  }

   .my-images{
    width: 100%
  }

  .image-1{
    padding-top: 100%;
  }

  .about-me-text{
    padding: 0rem 0rem;
    height: fit-content;
    width: 100%;
  }
}

@media screen and (max-width: 480px){
  .about-me{
    padding: 2.5rem 1rem 3.5rem 1rem;
  }

  .my-name{
    display: flex;
    padding: 1.25rem 1rem
  }

   .my-images{
    width: 100%
  }

  .image-1{
    padding-top: 100%;
  }

  .about-me-text{
    padding: 0rem 0rem;
    height: fit-content;
    width: 100%;
  }
}