@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-clr:#000000;
  --text-clr:#DFD9CD;
  --text-clr-2: rgb(223, 217, 205, 0.6);
  --blue-clr: #1F51FF;
  --stroke-line: 0.5px;
}

body {
  font-family: "Geist", sans-serif;
  background-color: var(--bg-clr);
  cursor: none;
}

.about-me{
  display: flex;
  align-items: start;
  width: 100%;
  min-height: auto; /* Ensure it expands naturally */
  height: auto; /* Auto height to fit content */
  padding: 6.5rem 2.5rem;
  gap: 3.5rem;
}


.my-images {
  display: flex;
  width: 50%;
  height: auto; 
  flex-direction: column;
  gap: 4rem;
  /* background: var(--text-clr); */
}

.image-1 {
  width: 100%;
  height: 0;  
  padding-top: 90.25%;  
  background: url("/public/images/picture.png") no-repeat center center, var(--text-clr);  
  background-size: cover;  
  position: relative; 
  border-radius: 2rem;
  transform: rotate(-3deg);
}

.social-medias{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: start;
}

.book-call{
  color: var(--bg-clr);
  font-size: 0.85rem;
  text-transform: uppercase;
  display: flex;
  gap: 0.4rem;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  padding: 0.65rem 1rem;
  background-color: var(--text-clr);
  border-radius: 4rem;
  overflow: hidden;
}

.resume{
  color: var(--text-clr);
  font-size: 0.85rem;
  text-transform: uppercase;
  display: flex;
  gap: 0.4rem;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  padding: 0.65rem 1rem;
  background-color: #111;
  border-radius: 4rem;
  overflow: hidden;
}

.book-call p{
  z-index: 10;
}

.book-call svg{
  width: 18px;
  height: 18px;
  color: var(--bg-clr);
  z-index: 10;
}

.resume p{
  z-index: 10;
}

.social-medias img{
  width: 18px;
}

.resume svg{
  width: 18px;
  height: 18px;
  color: var(--text-clr);
  z-index: 10;
}

.book-call::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%; 
  height: 100%;
  background-color: var(--blue-clr);
  transition: width 0.5s ease; 
}


.book-call:hover::before{
  width: 100%;
  color: var(--text-clr);
}

.book-call:hover p {
  color: var(--text-clr); /* Change SVG stroke color on hover */
}

.book-call:hover svg {
  color: var(--text-clr); /* Change SVG stroke color on hover */
}

.resume::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%; 
  height: 100%;
  background-color: var(--blue-clr);
  transition: width 0.5s ease; 
}


.resume:hover::before{
  width: 100%;
}

.about-me-text{
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 0rem 0rem 0rem 0rem;
  align-items: start;
  gap: 1rem;
}

.about-me-para{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-me-para p{
  color: var(--text-clr-2);
  font-family: Geist;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

.about-me-heading{
  display: flex;
  flex-direction: column;
}

.about-me-heading h1{
  font-size: 2.3rem;
  font-weight: 600;
  color: var(--text-clr);
  text-transform: uppercase;
  line-height: 3rem;
}

#about {
  display: flex;
  justify-content: center; 
  align-items: start;      
  height: fit-content;            
  width: 100%;              
}

@media screen and (max-width: 1120px){
  .about-me{
    padding: 5.5rem 2rem 3.5rem 2rem;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .about-me-text{
    flex-direction: column;
    width: 95%;
    height: auto;
    padding: 0.625rem 0rem;
    align-items: start;
  }

   .my-images{
    width: 100%
  }

  .image-1{
    padding-top: 100%;
  }

}

@media screen and (max-width: 480px){
  .about-me{
    padding: 2.5rem 1rem 3.5rem 1rem;
    gap: 4.5rem;
  }

  .about-me-heading{
    width: 100%;
  }

  .about-me-heading h1{
    width: 100%;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .about-me-para p{
    font-size: 1rem;
  }

  .my-name{
    display: flex;
    padding: 1.25rem 1rem
  }

   .my-images{
    width: 100%;
    gap: 2.5rem;
  }

  .image-1{
    padding-top: 100%;
  }

  .about-me-text{
    padding: 0rem 0rem;
    height: fit-content;
    width: 100%;
  }

  .book-call{
    color: var(--bg-clr);
    font-size: 0.75rem;
    padding: 0.65rem 0.85rem;
  }

  .resume{
    color: var(--text-clr);
    font-size: 0.75rem;
    padding: 0.65rem 0.85rem;
  }

  .resume svg{
    width: 18px;
    height: 18px;
  }

  .book-call svg{
    width: 18px;
    height: 18px;
  }
}