@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --surface-primary: #F6F6F6;
  --surface-modal: #FFFFFF;
  --surface-inverse: #0A0A0A;

  --btn-primary: #0A0A0A;
  --btn-primary-text: #FFFFFF;
  --btn-border-default: #C8C8C8;
  --btn-active: #3C3C3C;

  --text-primary: #0A0A0A;
  --text-secondary: #2E2E2E;
  --sub-text: #696969;
  --text-inverse: #FFFFFF;

}

.dark-mode{
  --surface-primary: #0A0A0A;
  --surface-modal: #2E2E2E;
  --surface-inverse: #FFFFFF;

  --btn-primary: #FFFFFF;
  --btn-primary-text: #0A0A0A;
  --btn-border-default: #696969;
  --btn-active: #F6F6F6;

  --text-primary: #FFFFFF;
  --text-secondary: #C8C8C8;
  --sub-text: #A4A4A4;
  --text-inverse: #0A0A0A;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: "MyFont", "Geist", sans-serif;
  background-color: var(--surface-primary);
  cursor: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-container{
  width: 100%;
  display: flex;
}

.nav-bar {
  display: flex;
  width: 100%;
  padding: 1.25rem 2.5rem;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--surface-primary);
  z-index: 998;
  inset: 0 0 auto;
  box-sizing: border-box;

}

.logo{
  display: flex;
  width: fit-content;
  height: fit-content;
  /* padding: 0rem 2.5rem; */
  align-items: center;
  /* border-right: 0.5px solid var(--strk-clr); */
}

.logo svg{
  color: var(--text-primary);
  cursor: pointer;
}

.logo-time{
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
}

.location{
  display: flex;
  gap: 0.5rem;
  width: fit-content;
  /* padding: 0rem 3rem;
  border-right: 0.5px solid var(--strk-clr); */
  height: 100%;
  align-items: center;
}

.location svg{
  color: var(--text-primary);
}

.time-country{
  display: flex;
  flex-direction: column;
}

.time-date{
  display: flex;
  gap: 0.45rem;
  width: fit-content;
  
}

.time-date p{
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--text-primary);
}
.country{
  display: flex;
  gap: 0.25rem;
  width: fit-content;
  align-items: center;
}

.country p{
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--sub-text);
}

.copyright{
  display: flex;
  width: fit-content;
  gap: 0.15rem;
}

.copyright svg{
  color: var(--sub-text);
}

.mode-menu{
  display: flex;
  height: 100%;
  align-items: center;
}

.web-mode{
  padding: 0rem 3rem;
  height: 100%;
  border-left: 0.5px solid var(--strk-clr);
  border-right: 0.5px solid var(--strk-clr);
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.menu-icon{
  cursor: pointer;
  display: flex;
  /* padding: 0rem 2.5rem; */
  height: fit-content;
  align-items: center;
}

.open-menu{
  cursor: pointer;
  display: flex;
  width: fit-content;
  height: 40px;
  justify-content: center;
  padding: 0;
  border-radius: 34rem;
  text-transform: uppercase;
  /* padding: 0.5rem 1rem; */
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: 500;
  gap: 0.5rem;
  align-items: center;
}

/* .open-menu:hover .open-dot {
  flex-direction: column; 
  align-items: center;
} */


.open-dot{
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.28rem;
}

.close-dot{
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.28rem;
}


.close-menu {
  display: flex;
  width: fit-content;
  height: 40px;
  text-transform: uppercase;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease-in-out;
}

.open-menu svg{
  color: var(--text-primary);
}

.close-menu svg{
  color: var(--text-primary);
}

.menu {
  position: fixed;
  flex-direction: column;
  align-items: end;
  gap: 2.5rem;
  right: 0; 
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 997;
  height: 100vh;
  width: 100%; 
  padding: 6.5rem 2.5rem 0rem 2.5rem;
  background-color: var(--surface-primary); 
  transform: translateX(100%); 
  transition: transform 0.9s cubic-bezier(0.16, 1, 0.3, 1), visibility 0s 0.3s; 
  overflow: hidden;
  display: flex;
}

.menu.visible {
  visibility: visible;
  transform: translateX(0);
  transition: transform 0.9s cubic-bezier(0.16, 1, 0.3, 1), visibility 0s; /* Smooth entry */
}

.menu-list{
  display: flex;
  background: var(--surface-primary);
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 1rem;
  font-size: 5rem;
  width: fit-content;
}

.menu-item{
  display: flex;
  width: fit-content;
  display: flex;
  align-items: start;
  flex-direction: row-reverse;
  transition: all 0.2s ease-out;
  cursor: pointer;
  gap: 1rem;
  transition: transform 0.2s ease-out, color 0.2s ease-out, border-bottom 0.2s ease-out;
}

.menu-link{
  font-size: 4rem;
  font-weight: 400;
  line-height: 3.5rem;
  text-transform: uppercase;
  color: var(--text-primary);
  transition: transform 0.7s ease-out, color 0.2s ease-out, border-bottom 0.5s ease-out;
}

.menu-link span,
.menu-text {
  transform: translateY(100%);
  opacity: 1;
  transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.menu-item span{
  font-size: 0.85rem;
  color: var(--sub-text);
  font-family: "Geist";
  padding-top: 0rem;
}

.menu-item:hover .menu-link {
  transform: translateX(-8px);
  color: var(--sub-text);
}

.menu-link.active {
  color: var(--sub-text);
}


.book-a-call{
  display: flex;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 0.625rem;
  background-color: var(--blue-clr);
  position: relative;
  overflow: hidden;
  color: var(--text-primary);
}

.book-a-call p{
  font-family: Geist;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  z-index: 1; 
}

.book-a-call::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0%; 
  height: 100%;
  background-color: var(--text-primary);
  transition: width 0.5s ease; 
}

.book-a-call svg {
  color: var(--text-primary); /* Change stroke color */
  z-index: 1;
}

.book-a-call:hover::before {
  width: 100%; 
  color: var(--surface-primary);
}

.book-a-call:hover svg {
  color: var(--surface-primary); /* Change SVG stroke color on hover */
}

.book-a-call:hover {
  color: var(--bg-clr); 
}

@media screen and (max-width: 1120px){
  .nav-container{
    width: 100%;
  }

  .nav-bar {
    padding: 1.5rem 2rem;
    width: 100%;
  }
}

@media screen and (max-width: 480px){
  .nav-bar {
    padding: 0rem 1rem;
    width: 100%;
  }

  .nav-container{
    width: 100%;
  }

  .menu {
    width: 100%; 
    padding: 6.5rem 1.25rem 0rem 1.25rem;
    overflow: hidden;
    display: flex;
  }
}