@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-clr:#000000;
  --text-clr:#DFD9CD;
  --text-clr-2: rgb(223, 217, 205, 0.6);
  --blue-clr: #1F51FF;
  --stroke-line: 0.5px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Geist", sans-serif;
  background-color: var(--bg-clr);
  cursor: none;
}

.nav-bar {
  display: flex;
  padding: 1.5rem 2.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--bg-clr);
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;

}

.logo{
  display: flex;
  width: fit-content;
  height: auto;
}

.logo h1{
  color: var(--text-clr);
  font-family: Geist;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem; /* 150% */
  letter-spacing: 0.48rem;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-icon{
  cursor: pointer;
  display: flex;
}


.menu-icon img.open-menu {
  cursor: pointer;
  cursor: pointer;
  display: flex;
}

.menu-icon button.close-menu {
  display: flex;
  width: fit-content;
  background-color: var(--text-clr);
  text-transform: uppercase;
  padding: 0.4rem 0.79rem;
  border-radius: 5rem;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
}

.menu {
  display: none; /* Initially hidden */
  position: fixed;
  width: 18rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  right: 40px;
  top: 80px;
  z-index: 111;
  transition: display 0s 0.3s ease; /* No transition on display */
}

.menu.visible {
  display: flex; /* Show the menu when visible */
  transition: display 0s 0s ease; /* Immediately show the menu */
}


.menu-list{
  display: flex;
  border-radius: 0.625rem;
  background: var(--text-clr);
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  align-self: stretch;
}

.menu-link{
  display: flex;
  padding: 0.725rem 0.95rem;
  align-items: start;
  font-family: Geist;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: var(--bg-clr);
  border-radius: 8rem;
  width: 100%;
  transition: all 0.2s ease-out;
}

.menu-link:hover{
  background-color: var(--blue-clr);
  color: var(--text-clr);
}

.menu-link.active{
  background-color: var(--blue-clr);
  color: var(--text-clr);
}

.book-a-call{
  display: flex;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 0.625rem;
  background-color: var(--blue-clr);
  position: relative;
  overflow: hidden;
  color: var(--text-clr);
}

.book-a-call p{
  font-family: Geist;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  z-index: 1; 
}

.call-icon {
  transition: color 0.3s ease;
  z-index: 1;
}

.book-a-call::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0%; 
  height: 100%;
  background-color: var(--text-clr);
  transition: width 0.5s ease; 
}

.book-a-call:hover::before {
  width: 100%; 
  color: var(--bg-clr);
}

.book-a-call:hover {
  color: var(--bg-clr); 
}

.book-a-call img {
  transition: transform 0.5s ease;
}

.book-a-call:hover img {
  transform: translateX(10px); /* Optional: Add a slight movement to the icon */
}

@media screen and (max-width: 1120px){
  .nav-bar {
    padding: 1.5rem 2rem;
  }

  .menu{
    right: 1rem;
  }

  /* .myName{
    4.62rem
  } */

  
}

@media screen and (max-width: 480px){
  .nav-bar {
    padding: 1.5rem 1rem;
    width: 100%;
  }
}