@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-clr:#000000;
  --text-clr:#DFD9CD;
  --text-clr-2: rgb(223, 217, 205, 0.6);
  --blue-clr: #1F51FF;
  --str-clr: rgb(92, 92, 92, 0.3);
  --str-line: 0.5px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Geist", sans-serif;
  background-color: var(--bg-clr);
  cursor: none;
}

.skills{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.5rem;
  align-self: stretch;
  padding: 4.5rem 2.5rem 4.5rem  2.5rem;
  overflow: hidden;
}

.label{
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: space-between;
} 

.label p{
  color: var(--text-clr);
  font-family: Geist;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 75px;
  text-transform: uppercase;
}

.label span{
  font-family: "Playfair Display";
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
}

.skills-list{
  display: flex;
  width: 100%;
  align-items: start;
  align-content: flex-start;
  flex-wrap: wrap;
  border-radius: 0.75rem;
  border: var(--str-line) solid var(--str-clr);
}

.list-1, .list-2, .list-3, .list-5, .list-6, .list-7, .list-9, .list-10, .list-11{
  display: flex;
  width: 25%;
  padding: 1.25rem 1.25rem;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-right: var(--str-line) solid var(--str-clr);
  border-bottom: var(--str-line) solid var(--str-clr);
}

.list-4, .list-8, .list-12{
  display: flex;
  width: 25%;
  padding: 1.25rem 1.25rem;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-right: 0px solid var(--str-clr);
  border-bottom: var(--str-line) solid var(--str-clr);
}
.list-9, .list-10, .list-11, .list-12{
  border-bottom: 0px solid var(--str-clr);
}

.skill-lst p{
  color: var(--text-clr);
  font-family: Geist;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.my-experience{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  align-self: stretch;
  padding: 4.5rem 2.5rem 4.5rem  2.5rem;
  overflow: hidden;
}

.experiences-listing{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experience-list{
  display: flex;
  gap: 5rem;
  padding: 1.25rem 0;
  border-bottom: var(--str-line) solid var(--str-clr);
}

.companyName-role{
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 0.3rem;
}

.role-in-comp{
  color: var(--text-clr);
  text-transform: uppercase;
  font-size: 1.15rem;
}

.companyName{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--text-clr-2);
}

.duration-roleDesc{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%;
}

.duration{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.month-year-divider{
  width: 10px;
  height: 2px;
  background-color: var(--text-clr);
}

.duration p{
  font-size: 1.15rem;
  text-transform: uppercase;
  color: var(--text-clr);
}

.roleDesc{
  display: flex;
  flex-direction: column;
}

.roleDesc p{
  color: var(--text-clr-2);
  font-size: 1rem;
  text-transform: uppercase;
}

@media screen and (max-width: 1120px){
  .skills{
    gap: 1.5rem;
    padding: 3.5rem 1rem 3.5rem  1rem;
    align-items: start;
  }

  .my-experience{
    padding: 3.5rem 1rem 3.5rem  1rem;
  }

  .experience-list{
    gap: 3rem;
  }

  .role-in-comp{
    font-size: 1rem;
  }

  .companyName{
    font-size: 0.85rem;
  }

  .duration p{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--text-clr);
}

.roleDesc p{
  color: var(--text-clr-2);
  font-size: 0.85rem;
}

.skills-list{
  height: fit-content;
}

.list-1, .list-2, .list-3, .list-5, .list-6, .list-7, .list-9, .list-10{
  width: 50%;
  height: 64px;
  padding: 1.25rem 1rem;
  border-right: var(--str-line) solid var(--str-clr);
  border-bottom: var(--str-line) solid var(--str-clr);
}

.list-11{
  width: 50%;
  height: 64px;
  padding: 1.25rem 1rem;
  border-right: var(--str-line) solid var(--str-clr);
  border-bottom: 0px solid var(--str-clr);
}

.list-4, .list-8, .list-12{
  display: flex;
  width: 50%;
  height: 64px;
  padding: 1.25rem 1rem;
  align-items: center;


}

.list-9, .list-10 {
  border-bottom: 1px solid var(--str-clr);
}

.skill-lst p{
  font-size: 0.85rem;
}


}

@media screen and (max-width: 810px){
  .skills{
    gap: 1.5rem;
    padding: 3.5rem 1rem 3.5rem  1rem;
    align-items: start;
  }

  .my-experience{
    padding: 3.5rem 1rem 3.5rem  1rem;
    width: 100%;
    align-items: start;
  }

  .experience-list{
    gap: 3rem;
  }

  .role-in-comp{
    font-size: 1rem;
  }

  .companyName{
    font-size: 0.85rem;
  }

  .duration p{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--text-clr);
}

.roleDesc p{
  color: var(--text-clr-2);
  font-size: 0.85rem;
}

.skills-list{
  height: fit-content;
}

.list-1, .list-3, .list-5, .list-7, .list-9{
  width: 50%;
  height: 64px;
  padding: 1.25rem 1rem;
  border-right: var(--str-line) solid var(--str-clr);
  border-bottom: var(--str-line) solid var(--str-clr);
}

.list-2, .list-6, .list-10{
  width: 50%;
  height: 64px;
  padding: 1.25rem 1rem;
  border-right: 0px solid var(--str-clr);
  border-bottom: var(--str-line) solid var(--str-clr);
}

.list-11{
  width: 50%;
  height: 64px;
  padding: 1.25rem 1rem;
  border-right: var(--str-line) solid var(--str-clr);
  border-bottom: 0px solid var(--str-clr);
}

.list-4, .list-8, .list-12{
  display: flex;
  width: 50%;
  height: 64px;
  padding: 1.25rem 1rem;
  align-items: center;


}

.list-9, .list-10 {
  border-bottom: 1px solid var(--str-clr);
}

.skill-lst p{
  font-size: 0.85rem;
}


}

@media screen and (max-width: 480px) {
  
}


