@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --surface-primary: #F6F6F6;
  --surface-modal: #FFFFFF;
  --surface-inverse: #0A0A0A;

  --btn-primary: #0A0A0A;
  --btn-primary-text: #FFFFFF;
  --btn-border-default: #C8C8C8;
  --btn-active: #3C3C3C;

  --text-primary: #0A0A0A;
  --text-secondary: #2E2E2E;
  --sub-text: #696969;
  --text-inverse: #FFFFFF;

}

.dark-mode{
  --surface-primary: #0A0A0A;
  --surface-modal: #2E2E2E;
  --surface-inverse: #FFFFFF;

  --btn-primary: #FFFFFF;
  --btn-primary-text: #0A0A0A;
  --btn-border-default: #696969;
  --btn-active: #F6F6F6;

  --text-primary: #FFFFFF;
  --text-secondary: #C8C8C8;
  --sub-text: #A4A4A4;
  --text-inverse: #0A0A0A;

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "MyFont", "Geist", sans-serif;
  background-color: var(--surface-primary);
  cursor: none;
  box-sizing: border-box;
}

.sliding-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  gap: 3rem;
  background-color: var(--light-clr);
}

.headin-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.headin-txt h1 {
  font-size: 1rem;
  color: var(--text-clr-2);
}

.headin-txt p {
  font-size: 2rem;
  color: var(--text-clr);
  font-weight: 500;
}

.changing-word {
  font-style: italic;
  transition: opacity 0.5s ease;
  color: var(--text-clr-2);
}

.highlight-works {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  height: 400px;
  width: fit-content;
  white-space: nowrap;
  gap: 1.5rem;
}

.slider-track img {
  width: auto; 
  height: 100%; 
  object-fit: cover;
  flex-shrink: 0; 
  border-radius: 2rem; 
}