@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-clr:#000000;
  --text-clr:#DFD9CD;
  --text-clr-2: rgb(223, 217, 205, 0.6);
  --blue-clr: #1F51FF;
  --stroke-line: 0.5px;
}

/* body{
  cursor: alias;
} */

body.no-scroll {
  overflow: hidden;
}


.display-project-cont{
  display: block;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-clr);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  
}

.display-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
  background-color: var(--bg-clr);
  margin-top: 6rem;
}

.display-project.open {
  transform: translateY(0);
}

.back-button{
  display: flex;
  width: 47.5%;
  padding: 3rem 0;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.go-back-btn{
  border-bottom: 0px solid var(--text-clr);
  color: var(--text-clr);
  font-size: 0.85rem;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: #111;
  padding: 0.5rem 0.65rem;
  border-radius: 3rem;
  overflow: hidden;
  cursor: pointer;
}

.go-back-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 0%; 
  height: 100%;
  background-color: var(--blue-clr);
  transition: width 0.5s ease; 
}

.go-back-btn:hover::before {
  width: 100%; 
  color: var(--bg-clr);
}

.go-back-btn img{
  width: 6px;
  z-index: 10;
}

.go-back-btn p{
  z-index: 10;
}

.next-prev-button{
  display: flex;
  width: 50%;
  padding-bottom: 3rem;
  align-items: center;
  justify-content: space-between;
  padding-top: 6rem;
}

.next-prev-button p{
  z-index: 10;
}

.next-prev-button a{
  border-bottom: 0px solid var(--text-clr);
  background-color: #111;
  color: var(--text-clr);
  font-size: 0.85rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.5rem 0.65rem;
  border-radius: 3rem;
  overflow: hidden;
}

.next-prev-button a img{
  width: 6px;
  z-index: 10;
}


.back-button h1{
  color: var(--text-clr-2);
  font-size: 1rem;
  text-transform: uppercase;
}

.next-prev-button a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%; 
  height: 100%;
  background-color: var(--blue-clr);
  transition: width 0.5s ease; 
}

.next-prev-button a:hover::before {
  width: 100%; 
  color: var(--bg-clr);
}

.project-content{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.project-note{
  display: flex;
  padding: 0.65rem;
  width: 100%;
  background-color: #111;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
}

.project-note p{
  font-size: 0.85rem;
  color: var(--text-clr);
  text-transform: uppercase;
}

.project-note p a{
  text-decoration: underline;
}

.project-desc{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
}

.project-name{
  color: var(--text-clr);
  font-size: 2rem;
  text-transform: uppercase;
}

.designer-name{
  color: var(--text-clr);
  text-transform: uppercase;
  font-size: 1rem;
}

.project-short-desc{
  color: var(--text-clr-2);
  text-transform: uppercase;
  font-size: 1rem;
}

.published-date{
  font-size: 1rem;
  color: var(--text-clr-2);
  text-transform: uppercase;
}

.designer-year{
  display: flex;
  padding: 0.6rem;
  background-color: #111;
  border-radius: 0.4rem;
  align-items: center;
  gap: 0.5rem;
}

.picture-cont{
  width: 40px;
  background-color: #1F51FF;
  border-radius: 0.2rem;
}

.picture-cont img{
  width: 40px;
}

.introduction{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.25rem;
}

.introduction h1{
  font-size: 1.5rem;
  color: var(--text-clr);
  text-transform: uppercase;
}

.introduction p{
  font-size: 1rem;
  color: var(--text-clr-2);
  text-transform: uppercase;
}

.problem{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.problem h1{
  font-size: 2rem;
  color: var(--text-clr);
  text-transform: uppercase;
}

.problem p{
  font-size: 1rem;
  color: var(--text-clr-2);
  text-transform: uppercase;
}

.problem ul{
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.problem li{
  font-size: 1rem;
  color: var(--text-clr-2);
  text-transform: uppercase;
  list-style-position: outside;
  padding-left: 0.5rem;
  margin-left: 15px;
}

@media screen and (max-width: 1120px){

  .back-button{
    display: flex;
    width: 100%;
    padding: 2rem 2rem;
  }

  .display-project{
    width: 100%;
    padding: 2rem 2rem;
    margin-top: 4rem;
  }

  .project-content{
    width: 100%;
  }

  .project-note p{
    font-size: 1rem;
  }

  .designer-name{
  color: var(--text-clr);
  text-transform: uppercase;
  font-size: 1rem;
}

.published-date{
  font-size: 1rem;
}

  .next-prev-button{
    display: flex;
    width: 100%;
    padding-bottom: 1.5rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 6rem;
  }

}

@media screen and (max-width: 480px){

  .back-button{
    display: flex;
    width: 100%;
    padding: 2rem 1rem;
  }

  .display-project{
    width: 100%;
    padding: 2rem 1rem;
    margin-top: 4rem;
  }

  .project-content{
    width: 100%;
  }

  .project-note p{
    font-size: 0.55rem;
  }

  .designer-name{
  color: var(--text-clr);
  text-transform: uppercase;
  font-size: 0.7rem;
}

.published-date{
  font-size: 0.75rem;
}

  .next-prev-button{
    display: flex;
    width: 100%;
    padding-bottom: 1.5rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 6rem;
  }

}