@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-clr:#000000;
  --text-clr:#DFD9CD;
  --text-clr-2: rgb(223, 217, 205, 0.6);
  --blue-clr: #1F51FF;
  --stroke-line: 0.5px;
  --project-bg: #111;
}

body {
  font-family: "Geist", sans-serif;
  background-color: var(--bg-clr);
  cursor: none;
}

.my-projects{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  align-self: stretch;
  padding: 4.5rem 2.5rem 4.5rem  2.5rem;
  overflow: hidden;
}


.label{
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: space-between;
} 

.ui-shot{
  padding-top: 5rem;
}

.label p{
  color: var(--text-clr);
  font-family: Geist;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 75px;
  text-transform: uppercase;
}

.label span{
  color: var(--text-clr);
  width: 350px;
  font-family: Geist;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.3125rem; /* 150% */
  text-transform: uppercase;
}

.case-study{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}



.project-list{
  display: flex;
  flex-direction: column;
  width: 48.9%;                
  height: auto;                
  align-items: flex-start;    
  gap: 1rem;                   
  cursor: pointer;
  transition: transform 0.7s ease-out;
  overflow: hidden;
  margin-bottom: 2rem;
}

.project-thumbnail {
  display: block;       
  width: 100%;               
  height: 0;                 
  padding-top: 63%;        
  background-color: var(--project-bg);
  border-radius: 1.5rem; /* Initial rounded corners */
  transition: transform 0.3s ease, border-radius 0.3s ease; /* Include border-radius in transition */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  overflow: hidden;
  align-items: center;
}

.project-thumbnail:hover {
  transform: scale(1.05); 
  border-radius: 0; /* Remove rounding completely on hover */
  overflow: hidden; 
}


.project-1{
  background: url("/public/images/farmer-cover.png") var(--project-bg)  50% / cover no-repeat;
}

.project-2{
  background: url("/public/images/mediscan/mediscan-cover.png") var(--project-bg)  50% / cover no-repeat;
}

.project-3{
  background: url("/public/images/avalaundry/avalaundry-cover.png") var(--project-bg)  50% / cover no-repeat;
}

.project-4{
  background: url("/public/images/avapay/avapay-cover.png") var(--project-bg)  50% / cover no-repeat;
}

.project-5{
  background: url("/public/images/project-5.png") var(--project-bg)  50% / cover no-repeat;
}

.project-6{
  background: url("/public/images/project-6.png") var(--project-bg)  50% / cover no-repeat;
}

.project-7{
  background: url("/public/images/matchsingle/matchsinglec-over.png") var(--project-bg)  50% / cover no-repeat;
}

.project-8{
  background: url("/public/images/gadgetfix/gadgetfix-cover.png") var(--project-bg)  50% / cover no-repeat;
}

.project-9{
  background: url("/public/images/project-9.png") var(--project-bg)  50% / cover no-repeat;
}

.project-10{
  background: url("/public/images/project-10.png") var(--project-bg)  50% / cover no-repeat;
}

.project-11{
  background: url("/public/images/project-11.png") var(--project-bg)  50% / cover no-repeat;
}

.project-12{
  background: url("/public/images/project-12.png") var(--project-bg)  50% / cover no-repeat;
}

.project-13{
  background: url("/public/images/project-13.png") var(--project-bg)  50% / cover no-repeat;
}

.project-14{
  background: url("/public/images/project-14.png") var(--project-bg)  50% / cover no-repeat;
}

.project-15{
  background: url("/public/images/project-15.png") var(--project-bg)  50% / cover no-repeat;
}

.project-16{
  background: url("/public/images/project-16.png") var(--project-bg)  50% / cover no-repeat;
}

.project-17{
  background: url("/public/images/project-17.png") var(--project-bg)  50% / cover no-repeat;
}

.project-18{
  background: url("/public/images/project-18.png") var(--project-bg)  50% / cover no-repeat;
}

.project-19{
  background: url("/public/images/project-19.png") var(--project-bg)  50% / cover no-repeat;
}

.project-20{
  background: url("/public/images/project-20.png") var(--project-bg)  50% / cover no-repeat;
}

.project-21{
  background: url("/public/images/project-21.png") var(--project-bg)  50% / cover no-repeat;
}

.project-22{
  background: url("/public/images/project-22.png") var(--project-bg)  50% / cover no-repeat;
}

.project-23{
  background: url("/public/images/project-23.png") var(--project-bg)  50% / cover no-repeat;
}

.projectName-category-viewPro{
  display: flex;
  gap: 0.25rem;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.projectName-category{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: start;
  width: 100%;
}

.project-category{
  display: flex;
  align-items: center;
  gap: 0.35rem;
  width: 100%;
}

.project-category p{
  color: var(--text-clr);
  font-family: Geist;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.projectCat-divider{
  width: 3px;
  height: 3px;
  background-color: var(--text-clr);
  border-radius: 100%;
}

.projectName{
  display: flex;
  width: 100%;
  gap: 0.5rem;
  align-items: center;
  transition: transform all 6.7s ease-out;
}

.projectName img{
  width: 2.5rem;
  height: 2.5rem;
  display: none;
}

.projectName h1{
  color: var(--text-clr);
  font-family: Geist;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  width: 100%;
}

.viewPro{
  display: flex;
  gap: 0.75rem;
  align-items: center;
}


.project-links{
  opacity: 0; 
  visibility: hidden; 
  transform: translateY(-10px); 
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.project-link{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.9s ease-out;
  overflow: hidden;
}

.project-list:hover .projectName img{
  display: flex;
  transition: 0.9s ease-out, transform 0.7s ease-out;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;                 
  width: 100%;              
}

@media screen and (max-width: 1120px){
  .my-projects{
    padding: 3.5rem 0rem 3.5rem  0rem;
    gap: 2.5rem;
  }

  .label{
    gap: 2.5rem;
    width: 95%;
    flex-direction: column;
  }

  .label p{
    font-size: 5.5rem;
    width: 100%;
    line-height: 65px;
    word-wrap: break-word;
  }

  .label span{
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .case-study{
    width: 95%;
  }

  .project-list{
    width: 49%;
  }

  .project-thumbnail {
    padding-top: 75%;          /* Adjust aspect ratio for mobile (4:3) */
  }

  .projectName h1{
    font-size: 1.6rem;
  }

  .projectName img{
    width: 2.0rem;
    height: 2.0rem;
    display: flex;
  }

  .project-category p{
    font-size: 0.75rem;
  }

  .projectName-category{
    gap: 0.5rem;
  }
}

@media screen and (max-width: 880px){
  .my-projects{
    padding: 3.5rem 0rem 3.5rem  0rem;
    gap: 2.5rem;
  }

  .label{
    gap: 2.5rem;
    width: 95%;
    flex-direction: column;
  }

  .label p{
    font-size: 5.5rem;
    width: 100%;
    line-height: 6.25rem;
    word-wrap: break-word;
  }

  .label span{
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .case-study{
    width: 95%;
  }

  .project-list{
    width: 49%;
  }

  .project-thumbnail {
    padding-top: 75%;          /* Adjust aspect ratio for mobile (4:3) */
  }

  .projectName h1{
    font-size: 1.6rem;
  }

  .projectName img{
    width: 2.0rem;
    height: 2.0rem;
    display: flex;
  }

  .projectName-category{
    gap: 0.5rem;
  }

  .project-category p{
    font-size: 0.75rem;
  }
}


@media screen and (max-width: 480px){
  .my-projects{
    padding: 3.5rem 1rem 3.5rem  1rem;
    gap: 2.5rem;
  }

  .label{
    gap: 2.5rem;
    flex-direction: column;
    width: 100%;
  }

  .label p{
    font-size: 3.2rem;
    width: 100%;
    line-height: 65px;
    word-wrap: break-word;
  }

  .case-study{
    flex-direction: column;
    width: 100%;
  }

  .project-list {
    width: 100%;
  }

  .project-thumbnail {
    padding-top: 70%; 
    border-radius: 1rem;         
  }

  .projectName h1{
    font-size: 1.6rem;
  }

  .projectName img{
    width: 2.0rem;
    height: 2.0rem;
    display: flex;
  }

  .project-category p{
    font-size: 0.75rem;
  }

  .projectName-category{
    gap: 0.5rem;
  }
}


